{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header"><i class="fa-solid fa-pencil"></i> {{ text_edit }}</div>
      <div class="card-body">
      
      <!--
        <div class="row mb-3">
                <div class="col">
                    <div class="card" style="width: 100%;">
                      <div class="card-body">
                        <h5 class="card-title">NETOPIA Payments Auto configuration</h5>
                        <p class="card-text">To ensure the smooth and optimal functioning of our <strong>NETOPIA Payments Opencart plugin</strong>, it is imperative to have
an active  <strong>Signature</strong> and at least one  <strong>API Key</strong> These fundamental components are the backbone of our plugin's capabilities.
                        <br>To get started, simply click on Configuration button, where you'll be prompted to enter your Username and password form NETOPIA paltform.
Once authenticated, the wizard will automatically return and configure your `Signature`, `Livw API Key` & `Sandbox API Key`
                        <br>The `Sandbox API Key` is not obligatory but highly recommended.
It serves as a virtual playground, allowing you to thoroughly test your plugin implementation before moving into a production/live environment.</p>
                        <a onclick="myFunction()" class="btn btn-primary">Go for it ;-)</a>
                      </div>
                    </div>                  
                </div>
            </div> 
        -->
            
        <form id="form-payment" action="{{ save }}" method="post" data-oc-toggle="ajax">
            
            <div class="row mb-3">
              <label class="col-sm-2 col-form-label">{{ entry_status }}</label>
              <div class="col-sm-10">
                <div class="form-check form-switch form-switch-lg">
                  <input type="hidden" name="payment_mobilpay_status" value="0"/>
                  <input type="checkbox" name="payment_mobilpay_status" value="1" id="input-status" class="form-check-input"{% if payment_mobilpay_status %} checked{% endif %}/>
                </div>
              </div>
            </div>

            <div class="row mb-3 required">
                <label for="entry-signature" class="col-sm-2 col-form-label">{{ entry_signature }}</label>
                <div class="col-sm-10">
                    <input type="text" name="payment_mobilpay_signature" value="{{ payment_mobilpay_signature }}" placeholder="{{ entry_signature }}" id="entry-signature" class="form-control"/>
                    <div id="error-signature" class="invalid-feedback">{{ error_signature }}</div>
                </div>
            </div>

            <div class="row mb-3 required">
                <label for="entry-live-apikey" class="col-sm-2 col-form-label">{{ entry_live_api_key }}</label>
                <div class="col-sm-10">
                    <input type="text" name="payment_mobilpay_live_apikey" value="{{ payment_mobilpay_live_apikey }}" placeholder="{{ entry_live_api_key }}" id="entry-live-apikey" class="form-control"/>
                    <div id="error-live-apikey" class="invalid-feedback">{{ error_live_apikey }}</div>
                </div>
            </div>
            
            <div class="row mb-3 required">
                <label for="entry-sandbox-apikey" class="col-sm-2 col-form-label">{{ entry_sandbox_api_key }}</label>
                <div class="col-sm-10">
                    <input type="text" name="payment_mobilpay_sandbox_apikey" value="{{ payment_mobilpay_sandbox_apikey }}" placeholder="{{ entry_sandbox_api_key }}" id="entry-sandbox-apikey" class="form-control"/>
                    <div id="error-sandbox-apikey" class="invalid-feedback">{{ error_sandbox_apikey }}</div>
                </div>
            </div>            

            <div class="row mb-3">
                <label for="input-test" class="col-sm-2 col-form-label">{{ entry_test }}</label>
                <div class="col-sm-10">
                  <div class="form-check form-switch form-switch-lg">
                      <input type="hidden" name="payment_mobilpay_test" value="0"/>
                      <input type="checkbox" name="payment_mobilpay_test" value="1" id="input-status" class="form-check-input"{% if payment_mobilpay_test %} checked{% endif %}/>
                  </div>
                </div>
            </div>

            <div class="row mb-3">
              <label for="input-order-status" class="col-sm-2 col-form-label">{{ entry_order_status }}</label>
              <div class="col-sm-10">
                <select name="payment_mobilpay_order_status_id" id="input-order-status" class="form-select">
                  {% for order_status in order_statuses %}
                    <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == payment_mobilpay_order_status_id %} selected {% endif %}>{{ order_status.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label for="input-geo-zone" class="col-sm-2 col-form-label">{{ entry_geo_zone }}</label>
              <div class="col-sm-10">
                <select name="payment_mobilpay_geo_zone_id" id="input-geo-zone" class="form-select">
                  <option value="0">{{ text_all_zones }}</option>
                  {% for geo_zone in geo_zones %}
                    <option value="{{ geo_zone.geo_zone_id }}"{% if geo_zone.geo_zone_id == payment_mobilpay_geo_zone_id %} selected{% endif %}>{{ geo_zone.name }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="row mb-3">
              <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
              <div class="col-sm-10">
                <input type="text" name="payment_mobilpay_sort_order" value="{{ payment_mobilpay_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
              </div>
            </div>
        </form>
      </div>
    </div>  
</div>
{{ footer }}